.header {
  position: absolute;
  padding-top: rem(40px);
  visibility: hidden;

  @include medium {
    left: 50%;
    transform: translate(-50%);
  }

  @include small {
    padding-top: rem(20px);
  }
  
  &__items {
    display: flex;
    align-items: center;
    font-size: rem(12px);
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__name {
    font-family: $ave-black;
    display: flex;
    align-items: center;

    &:after {
      content: '';
      width: rem(1px);
      height: rem(14px);
      display: block;
      background-color: $red;
      margin: 0 rem(14px);
    }
  }

  &__link {
    font-family: $ave-light;

    &:hover {
      a {
        color: $red;
      }
    }

    a {
      text-decoration: none;
      color: $black;   
      transition: all 0.2s;   
    }
      
  }
}