.intro {
  width: 100%;
  height: 100%;
  position: relative;

  &__container {
    height: 100%;
  }

  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__title {
    font: rem(60px) $ave-bold;

    span {
      display: inline-block;
    }

    .red {
      color: $red;
    }
  }

  &__text {
    max-width: rem(600px);
    font-family: Arial;
    line-height: rem(26px);
    margin: rem(20px) 0 rem(30px);
  }

  &__word {
    display: inline-block;
  }

  &__anchors {
    display: flex;
  }

  &__anchor {
    display: flex;
    align-items: center;
    font: rem(18px) $ave-bold;
    color: $red;
    cursor: pointer;

    .js-anchor-first, .js-anchor-second {
      pointer-events: none;
    }

    .icon-arrow {
      margin-left: rem(10px);
    }

    &:first-child {
      margin-right: rem(50px);
    }
  }
}