html, body {
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family: $ave;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}