/*--------------------------------------------------------------
Function to convert px to rem
--------------------------------------------------------------*/

@function rem($px, $base: $base-font-size) {
  @return ($px / $base) * 1rem;
}

/*--------------------------------------------------------------
Media queries
--------------------------------------------------------------*/

@mixin medium {
  @media (min-width: #{$small}) and (max-width: #{$medium}) {
    @content;
  }
}

@mixin small {
  @media (max-width: #{$small - 1px}) {
    @content;
  }
}
